<body g:template="/views/MAIN.html">
	<main data-event-source data-event-source:log>
		<header>
			<img src='Logo.svg' alt="Logomarca"/>
			<label g:print="${app.id}"/>
			<label g:print="${version}"/>
		</header>

		<nav>
			<g-tabbar>
				<a id='Home' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Home"/>
				<a id='Role' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Role"/>
				<a id='User' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="User"/>
				<a id='Func' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Func"/>
				<a id='Org' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Org"/>
				<a id='App' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="App"/>
				<a id='Mail' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Mail"/>
				<a id='Icon' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Icon"/>
				<a id='Emoji' target="@outer-html(section)" g:module="gateconsole.modules.admin" g:screen="Emoji"/>
				<a target="_top" g:if="${not empty subscriptions}"
				   g:module="gateconsole.modules.admin" g:screen="Access"/>
				<hr/>
				<g:exit icon="exit" name="Sair" target="_top"/>
			</g-tabbar>
		</nav>
		<section g:insert>
		</section>

		<footer g:condition="${not empty screen.user.id}">
			<label>
				${user.role.name}
			</label>
			<label>
				${user.name}
			</label>
		</footer>
	</main>
	<g:alert/>
</body>