<main g:template="/views/MAIN.html">
	<body>
		<form class="Login" method ='POST'
		      target ='_top'
		      action='Gate?MODULE=gateconsole.modules.admin'>
			<main>
				<header>
					<img src='Logo.svg'/>
					<label>${app.id}</label>
					<label>Versão ${version}</label>
				</header>
				<section>
					<g-tab-control type="dummy">
						<a href='Gate' data-selected="true">
							Fazer Logon<g:icon type="2000"/>
						</a>
						<a href='SetupPassword'>
							Trocar Senha<g:icon type="passwd"/>
						</a>
						<a href='ResetPassword'>
							Recuperar Senha<g:icon type="2023"/>
						</a>
						<a href='CreateAccount'>
							Criar Conta<g:icon type="gate.entity.User"/>
						</a>
						<div>
							<fieldset>
								<label>
									Login:
									<span>
										<input type="text" required='required' name='$username' maxlength='64' tabindex="1" title='Entre com o seu login.'/>
										<g:icon type="gate.entity.User"/>
									</span>
								</label>
								<label>
									Senha:
									<span>
										<input type="password" required='required' name='$password' maxlength='32' tabindex="1" title='Entre com a sua senha.'/>
									</span>
								</label>
							</fieldset>
						</div>
					</g-tab-control>
				</section>
				<footer>
					<g-coolbar>
						<button class="primary" tabindex="2">
							Entrar<g:icon type="commit"/>
						</button>
					</g-coolbar>
				</footer>
			</main>
		</form>

		<g:alert messages="${messages}"/>
	</body>
</main>