<!DOCTYPE HTML>

<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<title>${app.id} - ${app.name}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" href="Icon.svg"/>

		<link rel='stylesheet' type='text/css' href='gate/style/Gate.css?version=${version}'/>
		<script type='module' src='gate/script/Gate.mjs?version=${version}' charset="utf-8"></script>

		<link rel='stylesheet' type='text/css' href='prism.css?version=${version}'/>
		<script type='text/javascript' src='prism.js?version=${version}' charset=\"utf-8\"></script>
	</head>

	<g:insert/>
</html>
