<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>Gate</display-name>

	<welcome-file-list>
		<welcome-file>Gate</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>name</param-name>
		<param-value>Console de Aministração</param-value>
	</context-param>

	<context-param>
		<param-name>id</param-name>
		<param-value>Gate</param-value>
	</context-param>
</web-app>
